@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body { 
    justify-content: center;
    align-items: center;
    background: #0c1022;
    padding: 0;
    margin: 0;
}

i {
    color:#fff;
}

table {
    color: #fff;
    border-image: auto;
    margin-bottom: 5em;
    animation: borderAnim1 5s infinite;
}

@keyframes borderAnim1 {
    0%{
        border: 2px solid #d400d4;
    }
    50% {
        border: 2px solid #00ccff;
    }
    100%{
        border: 2px solid #d400d4;
    }
}

@keyframes borderAnim2 {
    0%{
        border: 2px solid #00ccff;
    }
    50% {
        border: 2px solid #d400d4;
    }
    100%{
        border: 2px solid #00ccff;
    }
}

@keyframes tableAnim {
    0%{
        border-bottom: dotted;
        border-width: 2px;
        border-style: solid;
        border-color: #00ccff;
    }
    50% {
        border-bottom: dotted;
        border-width: 2px;
        border-style: solid;
        border: 2px solid #d400d4;
    }
    100%{
        border-bottom: none;
        border-width: 2px;
        border-style: solid;
        border: 2px solid #00ccff;
    }
}

th {
    text-align: center;
    background:  #d400d444;;
}

td {
    text-align: center;
    padding: 0.2em;
}

tr:nth-child(odd) {
    background: #0c1047;
    animation: tableAnim 5s infinite;
}

tr:nth-child(even) {
    background: #0c1032;
    animation: tableAnim 5s infinite;
}

tr:hover {
    background: #0c1015;
}

.top {
    display: flex;
    margin: 5em auto auto auto;
    min-height: 10vh;
    width: auto;
    justify-content: center;
    align-items: center;
}

.title {
    color: #fff;
    margin-left: 10%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin: 5em auto auto auto;
}

.box {
    margin: 1em;
    position: relative;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.box:hover {
    background: #fff;
}

.box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.box::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box span {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: #0c1022;
    z-index: 1;
}

.box a {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: transparent;
    z-index: 3;
}

.box i {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 5em;
}

.download {
    display: flex;
    width: 2em;
    height: 2em;
    background: transparent;
    margin: auto;
    border-radius: 50%;
    animation: borderAnim2 5s infinite;
}

.download:hover {
    background: #d400d4;
}

.download a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.download i {
    justify-content: center;
    align-items: center;
}